.collections {
	width: 342px;
	height: 490px;
	background: url("../images/collections.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	/* position: absolute;
	top: 0px;
	left: 0px; */
	overflow: hidden;
	border-radius: 16px;
}
.collectionsLogo {
	background: url("../images/logo.png");
	background-position: center center;
	width: 114px;
	height: 114px;
	opacity: 1;
	/* position: absolute;
	top: 0px;
	left: 0px; */
	border-top-left-radius: 27px;
	border-top-right-radius: 27px;
	border-bottom-left-radius: 27px;
	border-bottom-right-radius: 27px;
	overflow: hidden;
}
.collectionsBubble {
	width: 117px;
	height: 34px;
	background: rgba(255, 255, 255, 0.20000000298023224);
	padding: 6px 17px;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 176px;
	border-top-left-radius: 9999px;
	border-top-right-radius: 9999px;
	border-bottom-left-radius: 9999px;
	border-bottom-right-radius: 9999px;
	overflow: hidden;
}
.collectionsBubbleText {
	width: 78px;
	color: white;
	position: absolute;
	top: 6px;
	left: 17px;
	font-family: Andale Mono;
	font-weight: Regular;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
